[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
jupyter = "*"
scikit-image = "*"
scipy = "*"
lazy-loader = "*"
tensorflow = "*"
pandas = "*"
imutils = "*"
h5py = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
